{% extends "_base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
    <h1>List of Driver Logs</h1>
    <a href="{% url 'driving_log_new' %}">Create a Driving Log</a>
    {% if drivinglog_list %}
        {% for driving_log in drivinglog_list %}
            <p>
                <a href="{% url 'driving_log_detail' driving_log.pk %}">{{ driving_log.name }}</a>
                | {{ driving_log.total_hours_needed }}
                | {{ driving_log.night_hours_needed }}
                | {{ driving_log.inclement_weather_hours_needed }}
                -- <a
                    href="{% url 'driving_log_edit' driving_log.pk %}">EDIT</a>
                |
                <a href="{% url 'driving_log_delete' driving_log.pk %}">DELETE</a>
            </p>
        {% endfor %}
    {% else %}
        <p>You have no logs</p>
    {% endif %}
{% endblock content %}
