{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block title %}New Trip{% endblock title %}

{% block content %}
    <h1>Add a new trip to your log</h1>
    <p class="text-secondary">Provide a creative name or just make a note about
        your destination to make it easier to recall where you went, then add a
        date, the amount of time you drove, and select if you drove at night or
        in inclement weather.</p>
    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Save</button>
    </form>
{% endblock content %}